body {
   background-color: #DCE1E3; 
   font-size: 16px;
   color:#5C5F58;
   font-family: 'Raleway', sans-serif;
}

#logo-img {
    background: url('../img/rest-logo-f.png') no-repeat;
    width: 80px;
    height: 80px;
    background-size: 80px;
}

.container>a {
    text-decoration: none;
}
/*.navbar-brand {

}*/
h1 {
    font-weight: bold;
    text-shadow: 2px 2px gray;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 0.75;
    color: black;

}
.nav-link {
    color: #B73225;
    font-weight: bold;
}
.nav-link:hover {
    color: #B73225;
}
.zoom {
    transition: transform .2s;
    margin: 0 auto;
  }
  
  .zoom:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
  }
  .dropdown-item, .dropdown-item:hover{
    color: #B73225;
  }
